<nav class="navbar navbar-toggleable-sm navbar-light navbar-default">

  <a class="navbar-brand">MyFlight</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link">Flug editieren</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <flight-edit-template-form></flight-edit-template-form>
</div>


<div class="container">
  <flight-edit-reactive-form></flight-edit-reactive-form>
</div>



<div class="container">
  <flight-edit-custom-control></flight-edit-custom-control>
</div>


<div class="container">
  <flight-edit-dynamic-form></flight-edit-dynamic-form>
</div>


