<!-- app.component.html-->
<md-sidenav-container fullscreen>

  <md-sidenav #mainSidenav mode="side">
    <md-toolbar>
      <span>Sidenav</span>
      <a md-button (click)="mainSidenav.toggle()">
        <md-icon>menu</md-icon>
      </a>
      <md-toolbar-row>
        <span [routerLink]="['home']">Home</span>
      </md-toolbar-row>
      <md-toolbar-row>
        <span [routerLink]="['flight-search']">Flight Search</span>
      </md-toolbar-row>
      <md-toolbar-row>
        <span [routerLink]="['flex-layout']">Flex Layout</span>
      </md-toolbar-row>
    </md-toolbar>

  </md-sidenav>

  <md-toolbar color="primary">
    <span>My Flights</span>
    <a md-button (click)="openSnackBar()">
      snackbar <md-icon>face</md-icon>
    </a>
    <a md-button (click)="openCustomSnackBar()">
      custom snackbar <md-icon>home</md-icon>
    </a>
    <a md-button (click)="openDialog()">
      dialog <md-icon>notifications</md-icon>
    </a>
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <a md-button (click)="mainSidenav.toggle()">
      <md-icon>menu</md-icon>
    </a>

  </md-toolbar>

  <router-outlet></router-outlet>

</md-sidenav-container>

