<div id="app-container" class="container">

  <nav id="primary-nav"
    class="navbar navbar-toggleable-xl navbar-default bg-faded">
    <a class="navbar-brand">Angular Test-Automatisierung</a>
  </nav>

  <div class="row">

    <div class="col-3">
      <ul id="secondary-nav" class="nav nav-pills flex-column bg-faded">
        <li class="nav-item">
          <a id="link-unit-tests" class="nav-link"
            [routerLink]="['unit-tests']">Unit Tests</a>
        </li>
        <li class="nav-item">
          <a id="link-e2e-tests" class="nav-link"
            [routerLink]="['e2e-tests']">E2E Tests</a>
        </li>
      </ul>
    </div>

    <div class="col">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
