<div class="has-footer container">
  <nav class="navbar navbar-toggleable-xl navbar-default bg-faded">

    <a class="navbar-brand">
      <i *ngIf="showSpinner" class="fa fa-spinner fa-spin"></i>
      MyFlight</a>

  </nav>
  <div class="row">
    <div class="col-3">
      <ul class="nav nav-pills flex-column bg-faded">
        <li class="nav-item">
          <a class="nav-link" >Home</a>
        </li>
      </ul>
    </div>

    <div class="col">
     <home></home>
    </div>

  </div>
</div>

<div class="footer bg-faded">
  <div class="container">
    <div class="row ">
      <div class="col">
        <p>Footer</p>
      </div>
    </div>
  </div>
</div>
