@import "vendor-styles.css";

//
.transparent-background {
  background-color: rgba(0, 0, 0, 0);
}

.fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

// SIDENAV

// adjust sidebar width
md-sidenav {
  width: 600px;
}

