<div class="row">

  <div class="col">
    <h1>Unit Tests</h1>


  <hr>
    <h3>Component</h3>
    <my-control></my-control>
  <hr/>

  <h3>Pipe</h3>
  Today is: {{currentDate | date:"dd.MM.yyyy"}} MyPipe returns: {{currentDate | myDate}}
  <hr/>

  <h3>Directive</h3>
  <p myHighlight [color]="'green'"> This is some test Text</p>
  <hr/>

  <h3>Services</h3>
  <p>
    <b>SimpleService:</b><br/>
    divide: <b>{{divideResult}}</b><br/>
    multiply: <b>{{multiplyResultPromise | async }}</b>
  </p>
  <hr>

  <p>
    <b>FlightService:</b>
  </p>
  <pre>{{flight$ | async | json }}</pre>

  </div>
</div>
