<div class="row justify-content-center">

  <div class="col-12">
    Home works!
  </div>

</div>

<div class="row">


  <div class="col-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">
          OneWay Counter
        </h4>
        <p class="big">
          {{actualOneWayCount()}}
        </p>
        <button class="btn btn-secondary" (click)="countOneWay()">OneWay
        </button>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">
          Global Flight Counter
        </h4>
        <p class="big">
          {{actualFlightCount()}}
        </p>
        <button class="btn btn-secondary" (click)="countFlight()">Buy</button>
      </div>
    </div>
  </div>


  <div class="col-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">
          Global Flight Counter
        </h4>
        <p class="big">
          {{actualFlightCount()}}
        </p>
        <button class="btn btn-secondary" (click)="countFlight()">Buy</button>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-6">
    <counter-panel>
      Flight Counter 1
    </counter-panel>
  </div>

  <div class="col-6">
    <counter-panel>
      Flight Counter 2
    </counter-panel>
  </div>

</div>

<div class="row">

  <div class="col-6">
    <advanced-counter-panel>
      Flight Counter A1
    </advanced-counter-panel>
  </div>

  <div class="col-6">
    <advanced-counter-panel>
      Flight Counter A2
    </advanced-counter-panel>
  </div>

</div>

